---
title: Home
---           

<h1>Felipe Portales' personal website</h1>

<p>I'm a Physicist, currently a postdoc at the <i><a
href="https://www.ift.unesp.br/">Theoretical Physics Institute</a></i> of <i>São
Paulo State University</i> in São Paulo, Brazil. </p>

<p>My main research interests are the Unruh effect, field theory (both classical
and quantum), gravitation, and Noether's theorems.</p>

<p> Here is a list of the things I have worked on: </p>
<ul>
  <li><p>F. I. Portales Oliva, <em><a
  href="https://arxiv.org/abs/2406.17980">Acceleration and radiation: Classical
  and quantum aspects</a></em> (2024), thesis for my PhD at the <a
  href="https://fisica.ufabc.edu.br/en/">Federal University of ABC</a> (<a
  href="fportales_PhD.bib">bibtex</a>,<a
  href="https://gitlab.com/fportales/phd-thesis">source code</a>).</p></li>
  <li><p>F. Portales-Oliva and A. G. S. Landulfo, "Gravitational waves emitted
  by a uniformly accelerated mass: The role of zero-Rindler-energy modes in the
  classical and quantum descriptions", <a
  href="https://doi.org/10.1103/PhysRevD.109.045006">Phys. Rev. D
  <strong>109</strong>, 045006 (2024)</a>,  <a
  href="https://arxiv.org/abs/2311.06032">arXiv:<span class="mono">2311.06032
  [gr-qc]</span></a>. We analyze the gravitational radiation from a uniformly
  accelerated mass, using the gravitational waves formalism, from both the
  classical and quantum points of view (<a
  href="PhysRevD.109.045006.bib">bibtex</a>).</p></li>
  <li><p>F. Portales-Oliva and A. G. S. Landulfo, <a
  href="poster-QEGF2023.pdf">"Uniformly accelerated particles and gravitational
  waves: The Unruh effect and zero-Rindler-energy modes"</a>, poster
  presentation for the <a
  href="https://indico.tpi.uni-jena.de/event/289/">Quantum Effects in
  Gravitational Fields conference</a> held at Leipzig, Germany, between August
  28 and September 1 of 2023.</p></li>
  <li><p>F. Portales-Oliva and A. G. S. Landulfo, <a
  href="poster-IAP2022.pdf">"Reconciling classical and quantum electromagnetic
  radiation through zero-energy Rindler photons"</a>, poster presentation for
  the <a href="https://www.iap.fr/col2022/">IAP 2022 conference</a> held at
  Paris, France, between June 27th and July 01 of 2022.</p></li>
  <li><p>F. Portales-Oliva and A. G. S. Landulfo, "Classical and quantum
  reconciliation of electromagnetic radiation: Vector Unruh modes and
  zero-Rindler-energy photons", <a
  href="https://doi.org/10.1103/PhysRevD.106.065002">Phys. Rev. D
  <strong>106</strong>, 065002 (2022)</a>,  <a
  href="https://arxiv.org/abs/2205.15183">arXiv:<span class="mono">2205.15183
  [gr-qc]</span></a>. Here we study the radiation coming from a charge which is
  uniformly accelerated for a finite amount of time and use our generalization
  of Unruh modes to describe the field in both the classical and quantum regimes
  (<a href="PhysRevD.106.065002.bib">bibtex</a>).</p></li>
  <li><p>Y. N. Obukhov, F. Portales-Oliva, D. Puetzfeld and G. F. Rubilar,
  "Invariant conserved currents in generalized gravity", <a
  href="https://doi.org/10.1103/PhysRevD.92.104010">Phys. Rev. D
  <strong>92</strong>, 104010 (2015)</a>, <a
  href="https://arxiv.org/abs/1507.02191v2">arXiv:<span
  class="mono">1507.02191v2 [gr-qc]</span></a>. Here we explore conserved
  charges in metric affine gravitational theories and study the differential
  conservation laws (<a href="PhysRevD.92.104010.bib">bibtex</a>).</p></li>
  <li><p>F. I. Portales Oliva, <em><a
  href="http://repositorio.udec.cl/jspui/handle/11594/1842">Cantidades
  Conservadas Invariantes en Teorías Gravitacionales en Presencia de Campos
  Externos</a></em> (2015), thesis for my master's degree at the <a
  href="https://postgrado.udec.cl/programas/programa/magister/4102">University
  of Concepción</a> (<a href="fportales_MSc.bib">bibtex</a>).</p></li>
</ul>
