* {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background: #002b36;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #2aa198;
}

a:hover {
  color: #cb4b16;
}

#main {
  position: absolute;

  top: 40px;

  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;

  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;

  line-height: 40px;

  letter-spacing: -1px;

  color: #93a1a1
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;

  color: #93a1a1;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  color:#93a1a1;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 2px solid #93a1a1;

  text-align: right;
}

#sidebar h2 {
  font-family: font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;

  color: #93a1a1
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

.mono { font-family: font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; }