<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Felipe Portales - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <img src="AAvatar.png" alt="A photo of me taken by Maik Reddiger" width="100" height="134">

      <h2>Where you can find me</h2>
      <ul>
        <li><a href="https://www.instagram.com/_fportales/">My Instagram page</a></li>
        <li><a href="https://gitlab.com/fportales">My Gitlab profile</a></li>
        <li><a href="https://keys.openpgp.org/search?q=fportales.5641%40gmail.com">Send me an email</a></li>
        <li><a href="https://orcid.org/0000-0002-2593-3734">ORCiD: 0000-0002-2593-3734</a></li>
      </ul>
    </div>
  </body>
</html>
